<template name="mainview">
    <div id="mainContainer" class="row">
        <div class="col-md-12" id="canvasContainer">
            <div class="col-md-6" id="mdsContainer">
                <div class="panel panel-default">
                    <div class="panel-heading" id="mdsPannelHeading">
                        MDS View
                        <div class="col-md-12 navbar-form">
                            
                            <div class="col-md-6">
                                <select id="dateSelector" class="selectpicker ">
                                    {{#each selectDay}}
                                        <option>Day {{day}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="inputId" class="form-control" placeholder="input id" aria-describedby="basic-addon2">
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" id="mdsBody">
                        <div class="col-md-12">
                            <label>Filter Users:</label>
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <label class="col-md-4 btn btn-default" id="one_day_visitor">
                                    <input type="checkbox" autocomplete="off"> One-day Visitors
                                </label>
                                <label class="btn btn-default col-md-4" id="two_day_visitor">
                                    <input type="checkbox" autocomplete="off"> Two-day Visitors
                                </label>
                                <label class="btn btn-default col-md-4" id="three_day_visitor">
                                    <input type="checkbox" autocomplete="off"> Three-day Visitors
                                </label>
                            </div>
                        </div>
                        <svg id="mdsCanvas"></svg>
                    </div>
                </div>
            </div>
            <div id="mapViewContainer" class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Map View
                    </div>
                    <div class="panel-body" id="mapViewBody">
                        <div class="col-md-6" id="picContainer1">
                            <svg id="picCanvas1"></svg>
                            <svg id="timePoint1"></svg>
                        </div>
                        <div class="col-md-6" id="picContainer2">
                            <svg id="picCanvas2"></svg>
                            <svg id="timePoint2"></svg>
                        </div>
                        <div class="col-md-6" id="picContainer3">
                            <svg id="picCanvas3"></svg>
                            <svg id="timePoint3"></svg>
                        </div>
                        <div class="col-md-6" id="picContainer4">
                            <canvas id="simpleHeatmap"></canvas>
                            <svg id="picCanvas4"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
