#mainContainer {
    height: 1100px;
    margin: 10px;
}

#heatmapContainer {
    border-radius: 25px;
    padding: 0px;
    /*height: 50%; */
}

#picContainer {
    padding: 0px;
}

#canvasContainer {
    height: 1000px;
}

#toolboxContainer {
    height: 100%;
    border-right: 2px double #CCC;
}

#mdsBody {
    padding-left: 0px;
    padding-right: 0px;
}

#mapViewBody {
    padding: 5px;
}

.dotPath_checkin {
    fill: #d73027;
    stroke: #d73027;
    stroke-width: 2px;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#picCanvas4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.btn-group.bootstrap-select.navbar-form{
    margin: 0px;
}

#mdsPannelHeading{
    padding-top: 3px;
    padding-bottom: 3px;
}